@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.fight-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__h1 {
        font-family: 'Shadows Into Light', cursive;
        font-size: 70px;
        color: white;
        text-shadow: 2px 3px 1px rgba(0,0,0,0.67);
        text-align: center;
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__name {
            color: black;
            font-size: 30px;
            font-family: 'Mukta', sans-serif;
            background-color: white;
            padding: 0px 40px;
            border-radius: 30px;
        }

        &__img {
             width: 300px;
        }

        &_life {
        border: solid 2px white;
        width: 200px;
        height: 30px;

            &__value {
                display: block;
                background-color: rgb(0, 196, 0);
                width: 20%;
                height: 30px;
            }
        }
        
        &_armor {
            border: solid 2px white;
            width: 200px;
            height: 30px;
            margin-top: 10px;

            &__value {
            display: block;
            background-color: rgb(5, 134, 255);
            width: 80%;
            height: 30px;
            }
        }

    }

    &__button {
        margin-top: 400px;
        border: none;
        background-color: white;
        height: 60px;
        width: 150px;
        border-radius: 30px;
        font-weight: bold;
        transition: all 0.3s ease;
        box-shadow: 6px 6px 15px -6px rgba(0,0,0,0.63);

        &:hover {
            background-color: rgb(168, 0, 0);
            color: white;
            cursor: pointer;
        }
    }
        
    &_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__name {
            color: black;
            font-size: 30px;
            font-family: 'Mukta', sans-serif;
            background-color: white;
            padding: 0px 40px;
            border-radius: 30px;
        }

        &__img {
            width: 300px;
        }

        &_life {
            border: solid 2px white;
            width: 200px;
            height: 30px;

            &__value {
                display: block;
                background-color: rgb(0, 196, 0);
                width: 80%;
                height: 30px;
            }
        }
    }
}